body{
    display: flex;
}



/* PRODUSTS */

.prod__admin{
    margin: 25px;
    width: 40%;
}

.prod__attributes{
    display: flex;
    flex-direction: column;
}

.prod__attribute{
    font-size: 20px;
}


/* USERS */

.user__admin{

    margin: 25px;
    width: 40%;

    
}

.user__admin__items{
    display: flex;
    flex-direction: column;
}

.user__admin__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 60px;
    padding: 15px;
    margin-bottom: 15px;

    box-shadow: 9px 10px 33px -8px rgba(0,0,0,1);
}

.first__col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.user__item__name{
    font-size: 25px;
}

.second__col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 200px;
    padding: 18px;
}

.admin__select{
    width: 150px;
    font-size: 25px;
    float: left;
    padding: 6px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}

#btn{
    float: left;
    margin-left: 30px;
    /* margin-top: 7px; */
    font-size: 25px;
    padding: 9px;
    border-radius: 5px;

    transition: background 0.5s;
}

#btn:hover{
    background: grey;
}